:root {
  --text-color: #333;
  --aside-color: #29627e;
  --body-max-width: 650px;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: Verdana;
  margin: 40px auto;
  max-width: var(--body-max-width);
  line-height: 1.6;
  font-size: 16px;
  color: var(--text-color);
  padding: 0 10px;
}

h1, h2, h3 {
  margin: 20px 0;
  line-height: 1.2;
}

header {
  color: var(--aside-color);
  background-color: bisque;
  padding: 10px;
}

.rss-icon {
  margin-right: 10px;
}

.title {
  font-weight: 700;
}

.title a {
  text-decoration: none;
}

.date {
  color: gray;
}
