:root {
  --text-color: #333;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: Verdana;
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 16px;
  color: var(--text-color);
  padding: 0 10px;
}

h1, h2, h3 {
  font-family: Georgia;
  margin: 20px 0;
  line-height: 1.2
}

.zola-anchor {
  color: inherit;
  text-decoration: none;
}

.zola-anchor:hover::after {
  content: ' 🔗';
}

.subheader {
  margin: 20px 0;
  line-height: 1.2
}

header a {
  color: var(--text-color);
}

header a:visited {
  color: var(--text-color);
}

header h1 {
  font-size: 48px;
}

header a.title {
  text-decoration: none;
  font-weight: bold;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  padding-left: 0;
}

header ul li {
  margin-right: 1rem;
}

.blog-list {
  padding-left: 0;
}

.blog-list li {
  display: grid;
  grid-template-columns: 150px 1fr;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 1em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

code:not(pre code) {
  background-color: lightgray;
  padding: 0 .25rem;
}

/*
 * Zola said to include this to make code blocks look good
 * https://www.getzola.org/documentation/content/syntax-highlighting/#styling-codeblocks
 */
pre {
  padding: 1rem;
  font-size: 14px;
  overflow: auto;
}

pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}

pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  display: block;
  background-color: rgba(254, 252, 232, 0.9);
}

pre table {
  width: 100%;
  border-collapse: collapse;
}
