:root {
  --text-color: #333;
  --aside-color: #29627e;
  --body-max-width: 650px;
  --link-list-spacing: .25rem;

  --font-logo-size: 48px;
  --font-h1-size: 28px;
  --font-h2-size: 22px;
  --font-h3-size: 19;
  --font-base-size: 19px;
  --font-aside-size: 18px;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: valkyrie_b;
  margin: 40px auto;
  max-width: var(--body-max-width);
  line-height: 1.4;
  font-size: var(--font-base-size);
  color: var(--text-color);
  padding: 0 10px 70px 10px;
}

header h1 {
  font-size: var(--font-logo-size);
}

h1, h2, h3 {
  font-family: valkyrie_b;
  margin: 20px 0;
  line-height: 1.2;
}

h1 { font-size: var(--font-h1-size); }
h2 { font-size: var(--font-h2-size); }
h3 { font-size: var(--font-h3-size); }

.subheader {
  margin: 20px 0;
  line-height: 1.2
}

a {
  color: var(--text-color);
}

a:visited {
  color: var(--text-color);
}

header a.title {
  text-decoration: none;
  font-weight: bold;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  padding-left: 0;
}

header ul li {
  margin-right: 1rem;
}

.article-list {

  article {
    margin: var(--link-list-spacing) 0;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
  }

  time {
    text-align: right;
    font-feature-settings: "tnum";
    /* font-family: monospace; */
  }
}

@media (min-width: 700px) {
  .article-list {
    article {
      grid-template-columns: 2fr 1fr;
    }
  }
}

.blog-list {
  padding-left: 0;

  a {
    display: inline-block;
  }

  time {
    text-align: right;
    font-feature-settings: "tnum";
  }

  li {
    display: grid;
    grid-template-columns: 1fr;
    margin: var(--link-list-spacing) 0;
  }

  a {
    order: -1;
  }
}

@media (min-width: 700px) {
  .blog-list li {
    grid-template-columns: 2fr 1fr;
  }
}
