{% extends "base.html" %}

{% block head %}
<meta property="og:site_name" content="Unplanned Obsolescence">
<meta name="og:title" content="About this website">
<meta name="description" content="A blog by Alex Petros about trying to write software that doesn't rot">
<meta name="og:description" content="A blog by Alex Petros about trying to write software that doesn't rot">

<style>
dl {
  display: grid;
  grid-template-columns: 3rem 1fr;
}
</style>
{% endblock head %}


{% block content %}
<h1>About this website</h1>

<p>
<cite>Unplanned Obsolescence</cite> is a blog from me, <a href="https://alexanderpetros.com/">Alexander Petros</a>.

<p>
Professionally, I am a core maintainer for <a href="https://htmx.org/">htmx</a>, author of the <a href="https://alexanderpetros.com/triptych/">Triptych Proposals for HTML</a>, and software engineer based in New York City.
I build software infrastructure for places where the software is not the point.

<p>
I am constantly refining a set of practices for building software infrastructure that lasts a <em>really</em> long time with <em>very</em> little maintenance; I believe it is possible to build <a href="/blog/building-the-hundred-year-web-service/">a web service that lasts for a hundred years</a>.
At some point I would like to do this for municipal, state, and federal governments.

<p>
I also did the <a href="https://www.recurse.com/scout/click?t=044d120abf1c334d0b2a3132634eb025">Recurse Center</a>, a software retreat with a lot of smart people that I highly recommend.

<h2>Reach out!</h2>

<address>
<dl>
  <dt>Email: <dd><a href="mailto:contact@alexpetros.com">contact@alexpetros.com</a>
  <dt>GitHub: <dd><a href="https://github.com/alexpetros">GitHub</a>
</dl>
</address>

The rest of my links and socials can be found at <a href="https://alexanderpetros.com">alexanderpetros.com</a>

<h2>A brief note about Generative AI</h2>

<p>
Generative AI plays no role whatsoever in this blog, nor, in fact, anything that I create.
I do not write, edit, or code with it.
There are many reasons for this, but chief among them is that I believe integrating this technology into my process would produce a worse product.

<p>
Whether you are exhausted or excited by the possibilities of Generative AI, rest assured, you will not find it here.


{% endblock content %}
