<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/favicon.png">
<link rel="shortcut icon" href="/favicon-128.png">
{% block head %} {% endblock %}
<title>
{% if page.title -%}
{{ page.title }}
{% elif section.title -%}
{{ section.title }}
{% else -%}
Unplanned Obsolescence
{% endif -%}
</title>

<style></style>
<link rel="stylesheet" href="/common.css">

<header>
  <h1><a class=title href="/">Unplanned Obsolescence</a></h1>
  <nav>
  <ul>
    <li><a href=/blog>Blog</a>
    <li><a href=/about>About</a>
    <li><a href=/atom.xml>RSS</a>
  </ul>
  </nav>
</header>

<hr>

{% block content %} {% endblock %}
