{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/blog-post.css">

<meta property="og:site_name" content="Unplanned Obsolescence">
<meta name="og:title" content="{{ page.title }}">
<meta name="description" content="{{ page.description }}">
<meta name="og:description" content="{{ page.description }}">
{% if page.extra and page.extra.image %}
<meta name="og:image" content="{{ page.path | safe }}{{ page.extra.image }}">
{% endif %}
{% endblock head %}

{% block content %}

<h1>{{ page.title }}</h1>
<p class="subtitle">{{ page.date | date(format="%B %d, %Y") }}</p>

{{ page.content | safe }}

{% endblock content %}

