{% extends "base.html" %}

{% block head %}
<link rel="alternate" type="application/atom+xml" title="Unplanned Obsolescence" href="https://unplannedobsolescence.com/atom.xml" />

<meta property="og:site_name" content="Unplanned Obsolescence">
<meta name="og:title" content="Unplanned Obsolescence">
<meta name="description" content="A blog by Alex Petros about trying to write software that doesn't rot">
<meta name="og:description" content="A blog by Alex Petros about trying to write software that doesn't rot">
{% endblock head %}

{% block content %}
{% set blog_section = get_section(path="blog/_index.md") %}

<div class=subheader>
  I'm Alex Petros and this is my blog about trying to write software that doesn't rot.
</div>

<h1>Recent Blogs</h1>

<main class="homepage-list">
  {% for page in blog_section.pages | slice(end=10) %}
  {%- if not page.extra or page.extra.hidden != true %}
  <article>
    <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
    <time datetime={{page.date}}>
      {{ page.date | date(format="%b %d, %Y") }}
    </time>
    <section class=content>
    {{ page.summary | safe }}
    </section>
  </article>

  {% endif %}
  {% endfor %}

  <hr>

  <p><a href="/blog">See all blogs</a></p>
</main>

{% endblock content %}

