{% extends "base.html" %}

{% block head %}
<link rel="alternate" type="application/atom+xml" title="Unplanned Obsolescence" href="https://unplannedobsolescence.com/atom.xml" />

<meta property="og:site_name" content="Unplanned Obsolescence">
<meta name="og:title" content="Unplanned Obsolescence">
<meta name="description" content="A blog by Alex Petros about trying to write software that doesn't rot">
<meta name="og:description" content="A blog by Alex Petros about trying to write software that doesn't rot">
{% endblock head %}

{% block content %}
{% set blog_section = get_section(path="blog/_index.md") %}
{% set talks_section = get_section(path="talks/_index.md") %}
{% set pages = blog_section.pages | concat(with=talks_section.pages) %}

<div class=subheader>
  I'm Alexander Petros and this is my blog about trying to write software that doesn't rot.
</div>

<section class="article-list">
  <h2>Recent</h2>
  {% for page in pages | sort(attribute="date") | reverse | slice(end=5) %}
  {%- if not page.extra or page.extra.hidden != true %}
  <article>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    <time datetime={{page.date}}>
      {{ page.date | date(format="%b %d, %Y") }}
    </time>
  </article>
  {% endif %}
  {% endfor %}
</section>

<section class="article-list">
  <h2>Popular</h2>
  <article><a href="/blog/hard-page-load">Who's Afraid of a Hard Page Load?</a></article>
  <article><a href="/talks/building-the-hundred-year-web-service/">Building the Hundred-Year Web Service</a></article>
  <article><a href="/blog/less-htmx-is-more">Less htmx is More</a></article>
  <article><a href="/talks/life-and-death-of-htmx/">The Life & Death of htmx</a></article>
  <article><a href="/blog/behavior-belongs-in-html/">Behavior Belongs in the HTML</a></article>


</section>

{% endblock content %}

